<!-- Footer -->
	<div id="footer-wrapper" class="wrapper">
		<div id="footer" class="container">
			<header class="style1">
				<h2>Thanks for reading!</h2>
				<p>
					This blog documents my path for learning Salesforce. The articles
					are intended to capture questions, challenges, and outcomes as they happen
					along the way. I hope you find the content interesting and/or helpful.
					Have any questions? Want to share a story	of your own or talk about
					Salesforce? Drop me a line below.
				</p>
			</header>

			<hr />
			{% load crispy_forms_tags %}
			{% crispy form form.helper %}
		</div>
		<hr />



		<div id="copyright">
			<ul>
				<li><a href="https://github.com/djcroissant" class="icon alt"><span class="fab fa-github fa-2x"></span></li>
				<li><a href="https://www.linkedin.com/in/derek-covey-1928b07b/" class="icon alt"><span class="fab fa-linkedin-in fa-2x"></span></a></li>
				<li><a href="https://www.facebook.com/derek.covey" class="icon alt"><span class="fab fa-facebook-f fa-2x"></span></a></li>
			</ul>
			<br>
			<ul>
				<li>&copy; Derek Covey, 2018</li><li>CSS Design: <a href="http://html5up.net">HTML5 UP</a></li>
			</ul>
		</div>
	</div>
