<!-- Header -->
  <div id="header-wrapper" class="wrapper">
    <div id="header">

      <!-- Logo -->
        <div id="logo">
          <h1>Salesforce</h1>
          <p>Lessons learned while becoming a certified administrator</p>
        </div>

      <!-- Nav -->
        <nav id="nav">
          <ul>
            <li class="current"><a href="{% url 'crmblog:webhome' %}">Projects</a></li>
            <li class="current"><a href="https://internationalespionage.wordpress.com/">Adventure</a></li>
            <li class="current"><a href="{% url 'home' %}">Bio</a></li>
          </ul>
        </nav>

    </div>
  </div>
