<!-- Header -->
  <div id="header-wrapper" class="wrapper">
    <div id="header">

      <!-- Logo -->
        <div id="logo">
          <h1>{{title}}</h1>
          <p>{{tagline}}</p>
        </div>

      <!-- Nav -->
        <nav id="nav">
          <ul>
            <li class="current"><a href="{% url 'crmblog:projects' %}">Projects</a></li>
            <li class="current"><a href="https://internationalespionage.wordpress.com/">Adventure</a></li>
            <li class="current"><a href="{% url 'bio' %}">Bio</a></li>
          </ul>
        </nav>

    </div>
  </div>
