# [Req'd] Configure the database URL postgres://{user}:{password}@{hostname}:{port}/{database-name}
DATABASE_URL=postgres://postgres:password@172.17.0.2:5432/dev_getyrbeta

# General settings
DJANGO_SETTINGS_MODULE=config.settings.production

# [Req'd] Generate your own key online
DJANGO_SECRET_KEY=

# [Optional] Required to get email functions to work.  Create an account at mailgun.com
DJANGO_MAILGUN_API_KEY=
MAILGUN_SENDER_DOMAIN=
