#message-container {
  list-style: none;
  padding-left: 0;
}
#message-container > li {
  margin-bottom: 2px;
}
#message-container .success {
  background: #d6f5d6;
  padding-top: 2px;
  padding-bottom: 2px;
}
.show-bullets ul {
  list-style: disc;
  padding-left: 2em;
}
.show-bullets ol {
  list-style-type: decimal;
  padding-left: 2em;
}
.no-upper-pad {
  padding-top: 0;
}
.small-bottom-margin {
  margin-bottom: .2em !important;
}
